



@media screen and (min-width: 480px){

 .location-list {
    margin-top: 20px;
    margin-bottom: 10px;
  }

 .monster-map {
    margin-bottom: 10px;
    width:600px; 
    height:450px;
    border:0px;
  }

}